* {
    /* Positioning */
    margin: 0;
    vertical-align: baseline;
    /* Box-model */
    padding: 0;
    /* Typography */
    font-size: 100%;
    font: inherit;
    /* Visual */
    border: 0;
    box-sizing: border-box;
  }
  
#range {
    width: 30em;
}

.survey {
    color: black;
    text-align: center;
}

p.range-field {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5em;
}

.section {
    margin: 0;
    margin-top: 30px;
    background-color: rgb(171, 98, 255);
}

.subsection {
    margin: 0 0 5em 0;
    background-color: rgb(104, 184, 255);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    color: #fff;
    padding: 3vh;
}

.header {
    height: 94vh;
    position: relative;
    background-image:linear-gradient(to right bottom, rgba(0, 61, 215, 0.7), rgba(139, 123, 218, 0.7)), url("../img/couple.jpg");
    background-size: cover;
    background-position: center bottom;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

}

.header-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    backface-visibility: hidden;

}

.header-main {
    display: block;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 15px;
    animation-name: moveInRight;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.header-secondary {
    display: block;
    font-size: 1.75em;
    font-weight: normal;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: ease;
    margin-bottom: 8vh;
}


.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    /* transition: all .2s; */
    animation: fadeIn 4s 2s;
    animation-fill-mode: backwards;
    color: rgba(0, 61, 215);
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;

}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
}


.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

.btn-white{
    background-color: #fff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all 1s;

}

.btn-white::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;

}

#survey-nav {
    background-color: blue
}

#survey-footer {
    background-color: blueviolet;
}



@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    /* 80%{
        transform: translateX(10px);
    } */
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    /* 80%{
        transform: translateX(-10px);
    } */
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

main {
flex: 1 0 auto;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.5em;
    font-weight: bold;
}

label {
    font-size: 1.3em;
}
