* {
    /* Positioning */
    margin: 0;
    vertical-align: baseline;
    /* Box-model */
    padding: 0;
    /* Typography */
    font-size: 100%;
    font: inherit;
    /* Visual */
    border: 0;
    box-sizing: border-box;
}


#range {
    width: 30em;
}

.survey {
    color: black;
    text-align: center;
}

p.range-field {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5em;
}

body {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    color: #fff;
    padding: 3vh;
}

section {
    height: 100vh;
}

.header {
    height: 94vh;
    position: relative;
    background-image:linear-gradient(to right bottom, rgba(0, 61, 215, 0.7), rgba(139, 123, 218, 0.7)), url("../img/landing-page.jpg");
    background-size: cover;
    background-position: center bottom;

}

.header2 {
    height: 94vh;
    position: relative;
    background-image:linear-gradient(to right bottom, rgba(0, 61, 215, 0.7), rgba(139, 123, 218, 0.7)), url("../img/about-you.jpg");
    background-size: cover;
    background-position: center bottom;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);

}

.header3 {
    height: 100vh;
    position: relative;
    background-image:linear-gradient(to right bottom, rgba(0, 61, 215, 0.7), rgba(139, 123, 218, 0.7)), url("../img/survey.jpg");
    background-size: cover;
    background-position: center top;
    clip-path: polygon(0 17vh, 100% 3vh, 100% 83vh, 0 97vh);

}

.header4 {
    height: 60vh;
    position: relative;
    background-image:linear-gradient(to right bottom, rgba(0, 61, 215, 0.7), rgba(139, 123, 218, 0.7)), url("../img/match.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);

}

.header5 {
    height: 94vh;
    position: relative;
    background-image:linear-gradient(to right bottom, rgba(0, 61, 215, 0.7), rgba(139, 123, 218, 0.7)), url("../img/results.jpg");
    background-size: cover;
    background-position: center bottom;
    overflow-y: hidden;

}

.header-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    backface-visibility: hidden;

}

.header-div-survey {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    backface-visibility: hidden;

}

.header-div-results {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    backface-visibility: hidden;

}

.header-main {
    display: block;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 15px;
    animation: moveInRight 2s 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
}

.header-main2 {
    display: block;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 10px;
    animation: moveInRight 2s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
    margin-bottom: 1em;
}

.header-survey {
    display: block;
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 15px;
    animation: fadeIn 2s .5s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
    margin-bottom: 8vh;
}

.age-results {
    display: block;
    font-size: 2em;
    font-weight: normal;
    letter-spacing: 8px;
    animation: fadeIn 2s 1s;
    animation-fill-mode: backwards;
    text-transform: uppercase;
    animation-timing-function: ease;
    margin-bottom: 4vh;
}

.radio {
    display: block;
}

.best-match-photo {
    height: 32em;
    animation: fadeIn 2s 1s;
    animation-fill-mode: backwards;
    animation-timing-function: ease;
}

p.you-are {
    display: inline-block;
    margin-right: 6em;
    margin-top: 5em;
    font-size: 1em;
    font-weight: bold;
}

.header-secondary {
    display: block;
    font-size: 1.75em;
    font-weight: normal;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: ease;
    margin-bottom: 8vh;
}

.header-results {
    display: block;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 8px;
    animation-name: fadeIn;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: ease;

}

.header-explain {
    display: block;
    font-size: 1.75em;
    font-weight: normal;
    letter-spacing: 5px;
    margin-bottom: 8vh;
}

h2.subheader {
    padding-top: 1em;
    font-size: 3em;
    color: #3648a0;
    font-weight: bold;
}

h3.subheader2 {
    font-size: 2em;
    color: #3648a0;
    font-weight: normal;
    margin-bottom: 2em;
}

.button:link,
.button:visited {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    animation: fadeIn 2s 3s;
    animation-fill-mode: backwards;
    color: #3648a0;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;

}

.button2:link,
.button2:visited,
input.button2,
input.button2 {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    animation: fadeIn 3s .5s;
    animation-fill-mode: backwards;
    color: #3648a0;
    font-weight: normal;
    letter-spacing: 2px;
    position: relative;

}

.button3:link,
.button3:visited {
    margin-top: 4em;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 50px;
    display: inline-block;
    border-radius: 100px;
    animation: fadeIn 3s .5s;
    animation-fill-mode: backwards;
    background-image:linear-gradient(to right bottom, rgba(0, 61, 215, 0.7), rgba(139, 123, 218, 0.7));
    color: white;
    font-weight: normal;
    letter-spacing: 2px;
    position: relative;

}

.button:hover,
.button2:hover,
.button3:hover,
input.button2:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,.4);
}


.button:active,
.button2:active,
.button3:active,
input.button2:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
}

input.button2:focus {
    outline: none;
}

.button-white{
    background-color: #fff;
}

.button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all 1s;

}

.button-white::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.2);
}

.button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;

}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    /* 80%{
        transform: translateX(10px);
    } */
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    /* 80%{
        transform: translateX(-10px);
    } */
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 2em;
    text-transform: uppercase;
    color: #3648a0;
    font-weight: 800;
    padding: 2em 0;
}

h5 {
    font-size: 1.7em;
    font-weight: bold;
}

label {
    font-size: 1.3em;
}

p {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

#custom-gender, 
#custom-looking {
    width: 10vw;
}

